{
	"deploy_paths"   : {"master":"xxxxxx","dev":"xxx"},
	"check_files"   : ["s0m3th1ing.html"],
	"allow_branches"   : ["master","dev"],
	"git_address"   : "https://github.com/XDSEC/web_homepage.git",
	"totp_seed"     : "xxxx",
	"github_secret" : "xxxx"
}
