{
	"deploy_path"   : "xxxxxxxx",
	"check_files"   : ["s0m3th1ing.html"],
	"allow_branches"   : ["master"],
	"git_address"   : "https://github.com/XDSEC/web_homepage.git",
	"totp_seed"     : "xxxxxxxxxxx",
	"github_secret" : "xxxxxxxx"
}
